@model IEnumerable<Capstone.Models.ConsumerRequest>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Home</h1>

<div class="container">
    <p class="w3-center">
        <img src="@ViewBag.ImgUrl" style="height:106px;width:106px" alt="Avatar">
    </p>
    <p>
        <a asp-action="Create">Add New Profile</a>
    </p>
    <p>
        <a asp-action="Edit" asp-route-id="@ViewBag.CurrentArtistId">Edit Your Account</a> |
    </p>
    <p>
        <a asp-action="Details" asp-route-id="@ViewBag.CurrentArtistId">Your Account Details</a> |
    </p>
    <p> 
        <a asp-controller="UserMessages" asp-action="GetMessages">Check Inbox</a>
    </p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consumer.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consumer.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Consumer.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Consumer.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Request)
            </td>
            <td>
               <a asp-action="Details" asp-route-id="@item.ConsumerId">View Profile</a>
            </td>
        </tr>
}
    </tbody>
</table>
