@model Capstone.Models.ArtworkOrder

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ArtworkOrder</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtistArtwork)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtistArtwork.ArtistArtworkId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Artist)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Artist.ArtistId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Consumer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Consumer.ConsumerId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ArtworkOrderId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
