@model IEnumerable<Capstone.Models.ConsumerRequest>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consumer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Request)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Consumer.ConsumerId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ConsumerRequestId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ConsumerRequestId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ConsumerRequestId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
