@model IEnumerable<Capstone.Models.Consumer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row" style="padding-bottom:50px; align-content:center">
        <div class="col-lg-12" style="text-align:center">
            <h1 style="color:cornflowerblue;">Home</h1>
        </div>
    </div>

    <body>

        <div class="row">
            <div class="col-3">
                <p>
                    <a asp-action="Create">Create Profile</a>
                </p>
            </div>
            <div class="col-3">
                <p>
                    <a asp-controller="ConsumerRequests" asp-action="Create">Create New Art Request</a>
                </p>
            </div>
            <div class="col-3">
                <p>
                    <a asp-controller="UserMessages" asp-action="GetMessages">Check Inbox</a>
                </p>
            </div>
            <div class="col-3">
                <p>
                    <a asp-controller="Consumers" asp-action="SearchArtists">Search Artists</a>
                </p>
            </div>
        </div>

        <div class="row" style="padding-bottom:30px;">
            <p>
                 
            </p>

        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StreetAddress)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ZipCode)
                    </th>
                    <th>
                        <i>Actions</i>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StreetAddress)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ZipCode)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ConsumerId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.ConsumerId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.ConsumerId">Delete</a>
                        </td>
                    </tr>
                    @Html.HiddenFor(modelItem => item.ConsumerId)
                    @Html.HiddenFor(modelItem => item.IdentityUserId)
                    @Html.HiddenFor(modelItem => item.Latitude)
                    @Html.HiddenFor(modelItem => item.Longitude)
                }
            </tbody>
           
        </table>
    </body>